* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.app {
    width: 800px;
}

h1 {
    text-align: center;
}

.app hr {
    margin: 15px 0;
}

.post-enter {
    opacity: 0;
    transform: translateX(500px);
}

.post-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    opacity: 0;
    transform: translateX(-500px);
    transition: opacity 500ms, transform 500ms;
}